<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="digitClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <digitClock.Properties.Settings>
            <setting name="fontName" serializeAs="String">
                <value>Microsoft JhengHei UI</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="topMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeFormat" serializeAs="String">
                <value>tt hh:mm</value>
            </setting>
            <setting name="fontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="fontShadowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fontShadowDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fontShadowBlur" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="fontShadowAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="touchable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontBackgroundColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="position" serializeAs="String">
                <value>200, 200</value>
            </setting>
        </digitClock.Properties.Settings>
    </userSettings>
</configuration>